
.lf-layout-container{
    --navbar-height:50px;
    .ant-layout{
        height:calc(100vh - var(--navbar-height));
    }
}
//navbar
.light .ant-layout-header{
    color:#fff;
    background-color: var(--primary-color);
    background:linear-gradient(45deg,var(--primary-color),var(--color-one));
    padding:0 10px;
    height:var(--navbar-height)
}
.lf-navbar{
    --navbar-color:#fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:var(--navbar-height);
    background-color: transparent;
    color:var(--navbar-color);
    font-size:1.4em;
    padding:0 var(--padding);
    &__brand{
        
    }
    &-title{

    }

    &__todo{

    }
}
.light{
    .ant-layout .ant-layout-sider{
        background:linear-gradient(45deg,var(--primary-color),var(--color-one));
    }
    .ant-menu-light{
        background:var(--color-one);
        color:#fff;
    }
}