html,body{
    padding:0;
    margin:0;
    height:100%;
    height:100%;
}
#root{
    width:100%;
    height:100%
}
.center-middle{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.lf-container{
    padding:0.6em;
}