// $primary-color:"#00BCD4";
// .primary{
//     color:$primary-color;
// }
:root{
    --primary-color:#1997f8;
    --primary-color-light:#2493f2;
    --gray-color-light:#a2a4a8;
    --color-one:rgb(52 88 240 / 38%);
    // 布局
    --padding:0.6em;
}